@font-face{
	font-family: BlendaScript;
	src: url("font/BlendaScript.otf");
}

@font-face{
	font-family: ComicBook;
	src: url("font/Comic%20Book.otf");
}

@font-face{
	font-family: DeadlyInked;
	src: url("font/Deadly%20Inked.ttf");
}

@font-face{
	font-family: SmartKid;
	src: url("font/Smart_Kid.otf");
}